* {
  margin: 10px;
  padding: 10px;
}

nav {
  width: 50%;
  height: 100px;
}

ul {
  list-style-type: none;
  margin: -10;
  padding: 0;
  position: fixed;
  background-color: #fff;
}

li { 
 float: left;

}

li a {
display: inline-block;
text-decoration: none;
font-size: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;

}

ul li a:hover {
color: #4aaaa5;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  background-color: #4aaaa5;
  color: white;
  padding: 30px;
}


body {
  background: url(images/gravel.png) top left repeat; 
  background-attachment: fixed;
  background-position: center;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

p {
color: #777777;
}

h2 {
  color: #4aaaa5;
  padding: 30px;
  border-bottom: 2px solid #cccccc;
}

footer {
  padding: 20px;
  clear: both;
  background: #666666;
  border-top: 8px solid #4aaaa5;
}