* {
  margin: 30px;
  padding: 0px;
  background-color: #ffffff;
  border-color: #cccccc;
}

ul {
  list-style-type: none;
  position: fixed;
  background-color: #fff;
  margin-left: 700px;
  margin-top: 5px;
}

li { 
 float: left;
}

li a {
text-decoration: none;
font-size: 15px;
color: #777777;
font-family: Georgia, 'Times New Roman', Times, serif;
}

li a:hover {
color: #4aaaa5;
font-weight: bolder;
}

body {
  background: url(images/gravel.png);
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  background-color: #4aaaa5;
  color: white;
  padding: 30px;
  margin: 0px;
  display: inline-block;
}

.Tara {
  margin-top: -100px;
}

h2 {
  color: #4aaaa5; 
  background-color: #ffffff;
  padding: 30px;
  border-bottom: 2px solid #cccccc;
  margin-top: 10px;
  clear: both;
  font-family: Georgia, 'Times New Roman', Times, serif;  
}

p {
  color: #777777;
  padding: px;
  margin-bottom: 30px;
  background-color: #ffffff;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }

.cross {
  text-align: center;
  position: absolute;
  background-color: #4aaaa5;
  color: white;
  width: 164px;
  padding: 18px;
  margin-top: -105px;
  font-size: 18px;
}

.family {
  text-align: center;
  position: absolute;
  background-color: #4aaaa5;
  color: white;
  width: 164px;
  padding: 18px;
  margin-top: -105px;
  margin-left: 290px;
  font-size: 18px;
}
.love {
  text-align: center;
  position: absolute;
  background-color: #4aaaa5;
  color: white;
  width: 164px;
  padding: 18px;
  margin-top: -105px;
  margin-left: 550px;
  font-size: 18px;
}
.sing {
  text-align: center;
  position: absolute;
  background-color: #4aaaa5;
  color: white;
  width: 164px;
  padding: 18px;
  margin-top: -105px;
  font-size: 18px;
}
.model {
  text-align: center;
  position: absolute;
  background-color: #4aaaa5;
  color: white;
  width: 164px;
  padding: 18px;
  margin-top: -105px;
  margin-left: 290px;
  font-size: 18px;
}
.pups {
  text-align: center;
  position: absolute;
  background-color: #4aaaa5;
  color: white;
  width: 164px;
  padding: 18px;
  margin-top: -105px;
  margin-left: 550px;
  font-size: 18px;
}
footer {
  padding: 20px;
  margin: 0px;
  clear: both;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  color: white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}