* {
  margin: 30px;
  padding: 0px;
  background-color: #ffffff;
  border-color: #cccccc;
}


ul {
  list-style-type: none;
  position: absolute;
  background-color: #fff;
  margin-left: 500px;
  margin-top: 5px;
}

li { 
 float: left;
}

li a {
text-decoration: none;
font-size: 15px;
color: #777777;
font-family: Georgia, 'Times New Roman', Times, serif;
}

li a:hover {
color: #4aaaa5;
font-weight: bolder;
}

body {
  background: url(images/gravel.png);
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  background-color: #4aaaa5;
  color: white;
  padding: 30px;
  margin: 0px;
  display: inline-block;
}

p {
color: #777777;
padding: 10px;
margin-bottom: 30px;
background-color: #ffffff;


}

h2 {
  color: #4aaaa5; 
  background-color: #ffffff;
  padding: 30px;
  border-bottom: 2px solid #cccccc;
  clear: both;
}

.images {
  padding: 0px;
}

footer {
  padding: 20px;
  margin: 0px;
  clear: both;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  color: white;
  text-align: center;
}